<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Threadly - 
        {% block title_block %}
            This is the title block
        {% endblock %}
        </title>
        
        <style>
            
        </style>

        
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <div id="navigation">
            <h1 style="display: inline">Threadly | </h1><a>This is a link</a> <a>This is a link</a> <a>This is a link</a>
        </div>
        <section id="main_div">
            {% block body_block %}
                This is the body block's default content. If you're seeing this, something's gone wrong.
            {% endblock %}
        </section>
    </body>
</html>