<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Threadly - 
        {% block title_block %}
            This is the title block
        {% endblock %}
        </title>
        
        <style>
            #navigation {
                width: 100%;
                background-color: grey;
                height: 40px;
                margin: 0;
            }
        </style>

        
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <div id="navigation">
            <h1 style="display: inline">Threadly | </h1>
            <a href="{% url 'Threadly:index' %}">Home</a>
            <a href="{% url 'Threadly:trending' %}">Trending</a>
            <a href="{% url 'Threadly:search' %}">Search</a>
            {% if user.is_authenticated %}
                <a href="{% url 'Threadly:account' %}">Account</a>
                <a href="{% url 'Threadly:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'Threadly:login' %}">Login</a>
                <a href="{% url 'Threadly:signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <section id="main_div">
            {% block body_block %}
                This is the body block's default content. If you're seeing this, something's gone wrong.
            {% endblock %}
        </section>
    </body>
</html>