<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Threadly - 
        {% block title_block %}
            This is the title block
        {% endblock %}
        </title>
        
        <style>
            #navigation {
                width: 100%;
                background-color: darkred;
                height: 40px;
                margin: 0;
            }
            #link {
                color:rgb(176, 218, 255);
            } 
            #search_bar {
                display: inline;
                align-items: center;
            }
            
            {% block style_block %}
            
            {% endblock %}
        </style> <!--I know it's red, but I promise that's supposed to be like that -Liam-->

        
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <div id="navigation">
            <h1 style="display: inline; color:rgb(176, 218, 255);">Threadly | </h1>
            <a id = "link" href="{% url 'Threadly:index' %}">Home</a>
            <a id = "link" href="{% url 'Threadly:trending' %}">Trending</a>
            <a id = "link" href="{% url 'Threadly:search' %}">Search</a>
            {% if user.is_authenticated %}
                <a id = "link" href="{% url 'Threadly:account' %}">Account</a>
                <a id = "link" href="{% url 'Threadly:create_post' %}">Create Post</a>
                <a id = "link" href="{% url 'Threadly:logout' %}">Logout</a>
            {% else %}
                <a id = "link" href="{% url 'Threadly:login' %}">Login</a>
                <a id = "link" href="{% url 'Threadly:signup' %}">Sign Up</a>
            {% endif %}
            <form id="search_bar" method="GET" action="{% url 'Threadly:search' %}">
                <input type="text" name="q" placeholder="Search" size="20" />
                <input type="submit" name="submit" value="Search">
            </form>
        </div>
        <section id="main_div">
            {% block body_block %}
                This is the body block's default content. If you're seeing this, something's gone wrong.
            {% endblock %}
        </section>
    </body>
</html>