{% extends 'Threadly/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Categories
{% endblock %}

{% block body_block %}
<h1>Categories</h1>
<p>Here is the full list of categories on Threadly. Feel free to browse to your heart's content</p>
{% if categories %}
    <ul class="invisible_list">
    {% for category in categories %}
        <li><a href="{% url 'Threadly:show_category' category.slug %}">{{ category.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no categories present</strong>
{% endif %}
{% endblock %}
