{% extends 'Threadly/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ post.title }}
{% endblock %}

{% block body_block %}
    <div>
        <h1>{{ post.title }}</h1>
        <img class="post_photo" src="{{ post.photoContent }}">
        <p>{{ post.content }}</p>
        <!--Needs an add comment button-->
    </div>
    <div>
        {% if comments %}
        <ul id="comments">
            {% for comment in comments %}
            <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
{% endblock %}
