{% extends 'Threadly/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ post.title }}
{% endblock %}

{% block script_block %}
<script type="text/javascript">
    function addComment(){
        try {
            var commentBox = document.getElementById("comment_content");
            var commentList = document.getElementById("comments");
            var li = document.createElement("li");

            li.innerHTML = commentBox.value;
            commentList.appendChild(li);
        } catch {
            alert("Sorry, there was a problem adding your comment. Please refresh the page to make sure it was added")
        }
    }
</script>
{% endblock %}

{% block body_block %}
    <section>
        <h1>{{ post.title }}</h1>
        {% if post.photoContent %}
            <img class="post_photo" src="{{ post.photoContent }}" alt="Post photo">
        {% endif %}
        <p>{{ post.content }}</p>
        <div>
            <form id="like_button" method="post" action="">
                {% csrf_token %} <!-- This fixes the like button token issue (Dont know why)-->
                <!--It's because all post forms require the user to be signed in and have that token-->
                <!--TODO: Give appropriate action to like the post-->
                <input id="submit" type="button" value="Like the post!">
            </form>
        </div>
    </section>
    <section>
        <div class="post_comment_block">
            <form id="add_comment" method="post" onSubmit="addComment(); return false">
                {% csrf_token %}
                <!--TODO: Give appropriate action to add comment to post-->
                <label for="comment_content">Something to say? Leave a comment here!</label><br>
                <textarea id="comment_content"
                name="comment_content"
                rows="6"
                cols="50">
                </textarea><br>
                <input name="Submit" type="submit" id="submit" value="Add Comment">
            </form>
        </div>
        <div class="post_comment_block">
            
            <h3 style="text-align: left;">Comments:</h3>
            <ul class="invisible_list" id="comments">
            {% if comments %}
                {% for comment in comments %}
                <hr>
                <li>{{ comment.content }}</li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </section>
    
{% endblock %}
